@using ViewModel.Rooms
@using WebDatPhong.Model.Models
@using WebDatPhong.Web.Areas.Admin.Controllers
@model RoomViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var convenients = TempData["Convenients"] as List<Convenient>;
    var roomTypes = TempData["RoomTypes"] as List<RoomType>;
    var beds = TempData["Beds"] as List<Bed>;
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thêm mới phòng</h1>
</div>

<div class="danger text-danger">
    @Html.ValidationSummary()
</div>

<form action="/admin/room/create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <b>@Html.LabelFor(x => x.RoomName, new { @class = "form-label" })</b>
        @Html.TextBoxFor(x => x.RoomName, new { @class = "form-control" })
        <br />
        @Html.ValidationMessageFor(x => x.RoomName, null, new { @class = "text-danger" })
    </div>

    <div class="row">
        <div class="col-6">
            <b>@Html.LabelFor(x => x.NumberRoom, new { @class = "form-label" })</b>
            @Html.TextBoxFor(x => x.NumberRoom, new { @class = "form-control", @type = "number" })
            <br />
            @Html.ValidationMessageFor(x => x.NumberRoom, null, new { @class = "text-danger" })
        </div>

        <div class="col-6">
            <b>@Html.LabelFor(x => x.NumberPerson, new { @class = "form-label" })</b>
            @Html.TextBoxFor(x => x.NumberPerson, new { @class = "form-control", @type = "number" })
            <br />
            @Html.ValidationMessageFor(x => x.NumberPerson, null, new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <b>@Html.LabelFor(x => x.Area, new { @class = "form-label" })</b>
            @Html.TextBoxFor(x => x.Area, new { @class = "form-control", @type = "number" })
            <br />
            @Html.ValidationMessageFor(x => x.Area, null, new { @class = "text-danger" })
        </div>

        <div class="col-6">
            <b>@Html.LabelFor(x => x.Cost, new { @class = "form-label" })</b>
            @Html.TextBoxFor(x => x.Cost, new { @class = "form-control", @type = "number" })
            <br />
            @Html.ValidationMessageFor(x => x.Cost, null, new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <b>@Html.LabelFor(x => x.BedId, new { @class = "form-label" })</b>
            <select name="BedId" class="form-control">
                <option disabled>Chọn loại giường</option>
                @foreach (var item in beds)
                {
                <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div class="col-6">
            <b>@Html.LabelFor(x => x.NumberBed, new { @class = "form-label" })</b>
            @Html.TextBoxFor(x => x.NumberBed, new { @class = "form-control", @type = "number" })
            <br />
            @Html.ValidationMessageFor(x => x.NumberBed, null, new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3">
        <b>@Html.LabelFor(x => x.RoomTypeId, new { @class = "form-label" })</b>
        <select name="RoomTypeId" class="form-control">
            <option disabled>Chọn loại phòng</option>
            @foreach (var item in roomTypes)
            {
            <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <b>@Html.LabelFor(x => x.Image, new { @class = "form-label" })</b>
        <div class="col-md-10">
            <img id="output" class="img-rounded" alt="Ảnh" width="180" height="200" src="~/Areas/Admin/wwwroot/thumbail/h0.png" />
            <p><label for="ufile" style="cursor:pointer;">Chọn file ảnh</label><p>
                <input name="ImageFile" id="ufile" type="file" style="display:none;" onchange="loadFile(event)" />
        </div>
    </div>

    <div class="mb-3">
        <p><b>Danh sách tiện ích</b></p>
        <div class="row">
            @foreach (var item in convenients)
            {
            <div class="col-3">
                <input name="convenient" type="checkbox" value="@item.Id" />
                <label for="convenient">@item.Name</label>
            </div>
            }
        </div>
        @Html.TextBoxFor(x => x.Convenients, new { @class = "form-label hidden", @id = "kq", @style = "visibility:hidden" })
        @*<p id="kq" name="Convenients"></p>*@
        @*<a class="btn btn-outline-primary" onclick="Test();" id="tienich">
                <span>Lấy tiện ích</span>
            </a>*@
    </div>

    <div class="mb-3">
        <b>@Html.LabelFor(x => x.Description, new { @class = "form-label" })</b>
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control border border-primary bg-body px-1", @id = "ckeContent" })
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-outline-primary" onclick="Test();">Tạo mới</button>
        <a class="btn btn-outline-primary" href="@Url.Action("Index","Room")">
            <span>Trở về</span>
        </a>
    </div>
</form>
@section Scripts{
    <script>
        function Test() {
            var checkboxes = document.getElementsByName('convenient');
            var selectedlist = [];
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {

                    selectedlist.push(checkboxes[i].value);
                }
            }
            var a = "";
            for (var i = 0; i < selectedlist.length; i++) {
                a += selectedlist[i] + ";";
            }
            document.getElementById('kq').value = a;
            //alert(a);
        }
    </script>
    <script>CKEDITOR.replace("ckeContent");</script>
    <script>
        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
}