@using WebDatPhong.Model.Models
@model PagedList.IPagedList<Room>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Quản lý phòng</h1>
</div>

@using (Html.BeginForm())
{
<p>
    Tìm phòng: <input type="text" value="@ViewBag.SearchString" name="searchString" />
    <input type="submit" value="Tìm" />
</p>
}

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            Mã
        </th>
        <th>
            Tên phòng
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Số lượng phòng
        </th>
        <th>
            Giá tiền
        </th>
        <th>
            Tình trạng hiển thị
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomName)
        </td>
        <td>
            @{
                    string ImagePath = "~/Areas/Admin/wwwroot/ImageRoom/" + item.Image;
                <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberRoom)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Cost)*@
            @item.Cost.ToString("#,##0")
        </td>
        <td>
            @(item.Status ? "Kích hoạt" : "Ẩn")
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
        </td>
    </tr>
    }
</table>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))

@section Scripts{
    <script>
        window.onload = function () { nutChuyenTrang() };
        function nutChuyenTrang() {
            var s = document.getElementsByClassName("pagination");
            for (var i = 0; i < s.length; i++) {
                var a = s[i].childNodes;
                for (var j = 0; j < a.length; j++) {
                    a[j].className += ' btn btn-secondary text-white';
                    a[j].firstChild.className += ' text-white'
                }
            }
        }
    </script>
}