@using ViewModel.Customers
@model UpdatePasswordViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = ViewBag.Message;
}

<div class="container">
    <form action="/Customer/EditPassword" method="post">
        <h3 style="margin-top: 3em; text-align:center">Đổi mật khẩu</h3>
        @*<div class="danger text-danger">
                @Html.ValidationSummary()
            </div>*@

        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        @if (!string.IsNullOrEmpty(message))
        {
        <div class="alert alert-danger">@message</div>
        }
        <input name="Id" type="text" value="@Model.Id" hidden />

        <div class="mb-3">
            <div class="form-holder ">
                <span class="lnr lnr-lock"></span>
                @Html.LabelFor(x => x.NewPassword, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", @placeholder = "Mật khẩu mới", @type="password" })
            </div>
            @Html.ValidationMessageFor(x => x.OldPassword, null, new { @class = "text-danger" })
        </div>
        <div class="mb-3">
            <div class="form-holder ">
                <span class="lnr lnr-lock"></span>
                @Html.LabelFor(x => x.OldPassword, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control", @placeholder = "Mật khẩu mới", @type = "password" })
            </div>
            @Html.ValidationMessageFor(x => x.OldPassword, null, new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn btn-dark mb-5">
            <span>Chỉnh sửa</span>
        </button>
    </form>
</div>