@model WebDatPhong.Model.Models.Intro
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Sửa nội dung trang giới thiệu</h1>
</div>

@using (Html.BeginForm("Edit", "Intro", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="mb-3">
            @Html.TextAreaFor(x => x.Detail, new { @class = "form-control border border-primary bg-body px-1", @id = "ckeContent" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-outline-primary" />
                <a class="btn btn-outline-primary" href="@Url.Action("Index","Intro")">
                    <span>Trở về</span>
                </a>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>CKEDITOR.replace("ckeContent");</script>
}