@using ViewModel.Customers
@model UpdatePasswordViewModel
@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string message = ViewBag.Message;
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Đổi mật khẩu</h1>
</div>
<hr />

<form action="/Admin/User/EditPassword" method="post">
    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-danger">@message</div>
    }
    <input name="Id" type="text" value="@Model.Id" hidden />

    <div class="mb-3">
        <div class="form-holder ">
            <span class="lnr lnr-lock"></span>
            @Html.LabelFor(x => x.NewPassword, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", @placeholder = "Mật khẩu mới", @type = "password" })
        </div>
        @Html.ValidationMessageFor(x => x.OldPassword, null, new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <div class="form-holder ">
            <span class="lnr lnr-lock"></span>
            @Html.LabelFor(x => x.OldPassword, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control", @placeholder = "Mật khẩu mới", @type = "password" })
        </div>
        @Html.ValidationMessageFor(x => x.OldPassword, null, new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-dark mb-5">
        <span>Chỉnh sửa</span>
    </button>
</form>